# Preprocesamiento Datasets Variables Climáticas

In [1]:
#Llamar datasets temperatura anual
import pandas as pd
datatemp1 = pd.read_csv('temp_anual_2000_2006.csv')
datatemp2 = pd.read_csv('temp_anual_2007_2013.csv')
datatemp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471940 entries, 0 to 471939
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   FID         471940 non-null  object
 1   id_punto    471940 non-null  int64
 2   agno        471940 non-null  int64
 3   temp_anual  471940 non-null  float64
 4   geom        471940 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 18.0+ MB

In [2]:
data_temp_anual = pd.concat([datatemp1, datatemp2])
data_temp_anual.head()

,FID,id_punto,agno,temp_anual,geom
0,temp_anual_espacial_p.fid-6ba7a30a_1775aed6af4...,0,2000,-20.39,POINT (-4202310.777446077 18546349.31878927)
1,temp_anual_espacial_p.fid-6ba7a30a_1775aed6af4...,0,2001,-20.02,POINT (-4202310.777446077 18546349.31878927)
2,temp_anual_espacial_p.fid-6ba7a30a_1775aed6af4...,0,2002,-19.44,POINT (-4202310.777446077 18546349.31878927)
3,temp_anual_espacial_p.fid-6ba7a30a_1775aed6af4...,0,2003,-19.50,POINT (-4202310.777446077 18546349.31878927)
4,temp_anual_espacial_p.fid-6ba7a30a_1775aed6af4...,0,2004,-19.78,POINT (-4202310.777446077 18546349.31878927)

In [3]:
data_temp_anual.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 876460 entries, 0 to 404519
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   FID         876460 non-null  object
 1   id_punto    876460 non-null  int64
 2   agno        876460 non-null  int64
 3   temp_anual  876460 non-null  float64
 4   geom        876460 non-null  object
dtypes: float64(1), int64(2), object(2)
memory usage: 40.1+ MB

In [4]:
data_temp_anual['agno'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012], dtype=int64)

In [5]:
!pip install pyproj
from pyproj import Transformer
transformer = Transformer.from_crs("epsg:3857", "epsg:4326")

Requirement already satisfied: pyproj in c:\users\ccoronad\anaconda3\lib\site-packages (3.0.0.post1)
Requirement already satisfied: certifi in c:\users\ccoronad\anaconda3\lib\site-packages (from pyproj) (2020.6.20)

In [6]:
data_temp_anual.replace(regex=['POINT '], value='', inplace=True)
data_temp_anual.replace(regex=['\('], value='', inplace=True)
data_temp_anual.replace(regex=['\)'], value='', inplace=True)
data_temp_anual[['latitude','longitude']] =  data_temp_anual.geom.str.split(n=1,expand=True,)
#data_temp_anual = data_temp_anual.geom.str.split(expand=True).append(data_temp_anual, ignore_index = True)
data_temp_anual.head()

,FID,id_punto,agno,temp_anual,geom,latitude,longitude
0,temp_anual_espacial_p.fid-6ba7a30a_1775aed6af4...,0,2000,-20.39,-4202310.777446077 18546349.31878927,-4202310.777446077,18546349.31878927
1,temp_anual_espacial_p.fid-6ba7a30a_1775aed6af4...,0,2001,-20.02,-4202310.777446077 18546349.31878927,-4202310.777446077,18546349.31878927
2,temp_anual_espacial_p.fid-6ba7a30a_1775aed6af4...,0,2002,-19.44,-4202310.777446077 18546349.31878927,-4202310.777446077,18546349.31878927
3,temp_anual_espacial_p.fid-6ba7a30a_1775aed6af4...,0,2003,-19.50,-4202310.777446077 18546349.31878927,-4202310.777446077,18546349.31878927
4,temp_anual_espacial_p.fid-6ba7a30a_1775aed6af4...,0,2004,-19.78,-4202310.777446077 18546349.31878927,-4202310.777446077,18546349.31878927

In [7]:
data_temp_anual.drop(['FID', 'id_punto', 'geom'], axis = 1, inplace = True)
data_temp_anual.head()

   agno  temp_anual            latitude          longitude
0  2000      -20.39  -4202310.777446077  18546349.31878927
1  2001      -20.02  -4202310.777446077  18546349.31878927
2  2002      -19.44  -4202310.777446077  18546349.31878927
3  2003      -19.50  -4202310.777446077  18546349.31878927
4  2004      -19.78  -4202310.777446077  18546349.31878927

In [8]:
data_temp_anual.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 876460 entries, 0 to 404519
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   agno        876460 non-null  int64
 1   temp_anual  876460 non-null  float64
 2   latitude    876460 non-null  object
 3   longitude   876460 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 33.4+ MB

In [9]:
!pip install pyproj
from pyproj import Transformer
transformer = Transformer.from_crs("epsg:3857", "epsg:4326")

Requirement already satisfied: pyproj in c:\users\ccoronad\anaconda3\lib\site-packages (3.0.0.post1)
Requirement already satisfied: certifi in c:\users\ccoronad\anaconda3\lib\site-packages (from pyproj) (2020.6.20)

In [10]:
def coord(x,y):
    x1,y1 = transformer.transform(x,y)
    return x1,y1

In [11]:
data_temp_anual['coordenadas'] = data_temp_anual.apply(lambda x: coord(x.latitude, x.longitude), axis=1)
data_temp_anual

,agno,temp_anual,latitude,longitude,coordenadas
0,2000,-20.39,-4202310.777446077,18546349.31878927,"(83.75, -37.75)"
1,2001,-20.02,-4202310.777446077,18546349.31878927,"(83.75, -37.75)"
2,2002,-19.44,-4202310.777446077,18546349.31878927,"(83.75, -37.75)"
3,2003,-19.50,-4202310.777446077,18546349.31878927,"(83.75, -37.75)"
4,2004,-19.78,-4202310.777446077,18546349.31878927,"(83.75, -37.75)"
...,...,...,...,...,...
404515,2008,5.41,-7486235.755847648,-7508807.8513019495,"(-55.75000000000001, -67.25)"
404516,2009,4.60,-7486235.755847648,-7508807.8513019495,"(-55.75000000000001, -67.25)"
404517,2010,5.09,-7486235.755847648,-7508807.8513019495,"(-55.75000000000001, -67.25)"
404518,2011,4.95,-7486235.755847648,-7508807.8513019495,"(-55.75000000000001, -67.25)"
404519,2012,4.63,-7486235.755847648,-7508807.8513019495,"(-55.75000000000001, -67.25)"