## Data Set Cheat Sheet

This is the base for the Dataset Cheat Sheet for Python

First we import the SKLEARN library, "Scikit-learn is an open source machine learning library that supports supervised and unsupervised learning. It also provides various tools for model fitting, data preprocessing, model selection and evaluation, and many other utilities." https://scikit-learn.org/stable/about.html#citing-scikit-learn

In [241]:
import sklearn
sklearn.__version__

'0.23.2'

Then, we also import *pandas*, "pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language." https://pandas.pydata.org/. 

We also install *base64*, "The base64 encoding scheme is used to convert arbitrary binary data to plain text." https://www.oreilly.com/library/view/python-standard-library/0596000960/ch04s11.html

We import *enable_iterative_imputer* and *IterariveImputer*: "A strategy for imputing missing values by modeling each feature with missing values as a function of other features in a round-robin fashion." https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.html

In [242]:
import pandas as pd
import base64
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

Then, we set the option of Pandas to *max_columns = None*, so it shows us all the cloumns of our dataframe.

Then we use pandas to read our dataset and finally, we print the initial values and Headers of our Dataset

In [243]:
pd.set_option('max_columns', None)
data = pd.read_csv('winemag-data-130k-v2.csv')
data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [244]:
data.index

RangeIndex(start=0, stop=129971, step=1)

In [245]:
data.dtypes

Unnamed: 0                 int64
country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

In [246]:
data.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [247]:
data.nunique(dropna=False)

Unnamed: 0               129971
country                      44
description              119955
designation               37980
points                       21
price                       391
province                    426
region_1                   1230
region_2                     18
taster_name                  20
taster_twitter_handle        16
title                    118840
variety                     708
winery                    16757
dtype: int64

In [248]:
data['country'].unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

In [249]:
data['taster_name'].unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [250]:
data['variety'].unique()

array(['White Blend', 'Portuguese Red', 'Pinot Gris', 'Riesling',
       'Pinot Noir', 'Tempranillo-Merlot', 'Frappato', 'Gewürztraminer',
       'Cabernet Sauvignon', 'Nerello Mascalese', 'Chardonnay', 'Malbec',
       'Tempranillo Blend', 'Meritage', 'Red Blend', 'Merlot',
       "Nero d'Avola", 'Chenin Blanc', 'Gamay', 'Sauvignon Blanc',
       'Viognier-Chardonnay', 'Primitivo', 'Catarratto', 'Inzolia',
       'Petit Verdot', 'Monica', 'Bordeaux-style White Blend', 'Grillo',
       'Sangiovese', 'Cabernet Franc', 'Champagne Blend',
       'Bordeaux-style Red Blend', 'Aglianico', 'Petite Sirah',
       'Touriga Nacional', 'Carmenère', 'Albariño', 'Petit Manseng',
       'Rosé', 'Zinfandel', 'Vernaccia', 'Rosato', 'Grüner Veltliner',
       'Viognier', 'Vermentino', 'Grenache Blanc', 'Syrah', 'Nebbiolo',
       'Shiraz-Cabernet Sauvignon', 'Pinot Blanc', 'Alsace white blend',
       'Barbera', 'Rhône-style Red Blend', 'Portuguese White', 'Graciano',
       'Tannat-Cabernet', 'Sauvignon', 'Sangiovese Grosso', 'Torrontés',
       'Prugnolo Gentile', 'G-S-M', 'Verdejo', 'Fumé Blanc', 'Furmint',
       'Pinot Bianco', 'Bonarda', 'Shiraz', 'Montepulciano', 'Moscato',
       'Grenache', 'Ugni Blanc-Colombard', 'Syrah-Viognier',
       'Blaufränkisch', 'Friulano', 'Assyrtico', 'Carignan-Grenache',
       'Sagrantino', 'Savagnin', 'Cabernet Sauvignon-Syrah', 'Prosecco',
       'Vignoles', 'Sparkling Blend', 'Muscat', 'Muscadelle',
       'Shiraz-Viognier', 'Garganega', 'Pinot Grigio', 'Tempranillo',
       'Zierfandler', 'Cortese', 'Mencía', 'Zweigelt', 'Melon',
       'Rhône-style White Blend', 'Vidal', 'Cannonau', 'Verdelho',
       'Marsanne', 'Scheurebe', 'Kerner', 'Syrah-Grenache', 'Dolcetto',
       'Vilana', 'Glera', 'Viura', 'Garnacha Tintorera', 'Pinot Nero',
       'Roter Veltliner', 'Pinotage', 'Sémillon', 'Pinot Noir-Gamay',
       'Antão Vaz', 'Cabernet Sauvignon-Carmenère', 'Verdejo-Viura',
       'Verduzzo', 'Verdicchio', 'Silvaner', 'Colombard', 'Carricante',
       'Sylvaner', 'Fiano', 'Früburgunder', 'Sousão', 'Roussanne',
       'Avesso', 'Cinsault', 'Chinuri', 'Tinta Miúda',
       'Muscat Blanc à Petits Grains', 'Portuguese Sparkling',
       'Monastrell', 'Xarel-lo', 'Greco', 'Trebbiano',
       'Corvina, Rondinella, Molinara', 'Port', 'Chenin Blanc-Chardonnay',
       'Insolia', 'Merlot-Malbec', 'Ribolla Gialla',
       'Cabernet Sauvignon-Merlot', 'Duras', 'Weissburgunder', 'Roditis',
       'Traminer', 'Papaskarasi', 'Tannat-Syrah', 'Marsanne-Roussanne',
       'Charbono', 'Merlot-Argaman', 'Prié Blanc', 'Sherry',
       'Provence red blend', 'Tannat', 'Zibibbo', 'Falanghina',
       'Garnacha', 'Negroamaro', 'Mourvèdre', 'Syrah-Cabernet',
       'Müller-Thurgau', 'Pinot Meunier', 'Cabernet Sauvignon-Sangiovese',
       'Austrian Red Blend', 'Teroldego', 'Pansa Blanca',
       'Muskat Ottonel', 'Sauvignon Blanc-Semillon', 'Claret',
       'Semillon-Sauvignon Blanc', 'Bical', 'Moscatel', 'Rosado',
       'Viura-Chardonnay', 'Baga', 'Malvasia Bianca',
       'Gelber Muskateller', 'Malbec-Merlot', 'Monastrell-Syrah',
       'Malbec-Tannat', 'Malbec-Cabernet Franc', 'Turbiana', 'Refosco',
       'Alvarinho', 'Manzoni', 'Aragonês', 'Agiorgitiko', 'Malagousia',
       'Assyrtiko', 'Ruché', 'Welschriesling', 'Tinta de Toro',
       'Cabernet Moravia', 'Rieslaner', 'Traminette', 'Chambourcin',
       'Nero di Troia', 'Lambrusco di Sorbara', 'Cesanese',
       'Feteasca Neagra', 'Lagrein', 'Tinta Fina', 'St. Laurent',
       'Marsanne-Viognier', 'Cabernet Sauvignon-Shiraz',
       'Syrah-Cabernet Sauvignon', 'Gewürztraminer-Riesling',
       'Pugnitello', 'Cerceal', 'Touriga Nacional Blend',
       'Austrian white blend', 'Tocai', 'Tinta Roriz',
       'Chardonnay-Viognier', 'Fernão Pires',
       'Cabernet Franc-Cabernet Sauvignon', 'Grenache-Syrah',
       'Seyval Blanc', 'Muscat Canelli', 'Cabernet Merlot',
       'Tempranillo-Cabernet Sauvignon', 'Arinto', 'Aragonez',
       'Merlot-Cabernet Franc', 'Syrah-Petite Sirah', 'Cabernet Blend',
       'Maturana', 'Pecorino', 'Rotgipfler', 'Kinali Yapincak',
       'Cabernet Franc-Carmenère', 'Magliocco', 'Gamay Noir',
       'Sauvignon Gris', 'Spätburgunder', 'Picpoul', 'Vidal Blanc',
       'Albanello', 'White Port', 'Arneis', 'Malvasia', 'Plavac Mali',
       'Lemberger', 'Saperavi', 'Altesse', 'Blanc du Bois',
       'Provence white blend', 'Nosiola', 'Dornfelder',
       'Roussanne-Viognier', 'Ojaleshi', 'Godello', 'Mondeuse',
       'Perricone', 'Pedro Ximénez', 'Auxerrois', 'Syrah-Merlot',
       'Albana', 'Muskat', 'Lambrusco', 'Cabernet Sauvignon-Malbec',
       'Tinto Fino', 'Malbec-Cabernet Sauvignon', 'Moschofilero',
       'Grechetto', 'Encruzado', 'Carignano', 'Cabernet Franc-Merlot',
       'Torbato', 'Syrah-Petit Verdot', 'Garnacha Blanca', 'Pallagrello',
       'Morava', 'Syrah-Mourvèdre', 'Aleatico', 'Carcajolu', 'Kisi',
       'Shiraz-Grenache', 'Palomino', 'Grenache-Carignan', 'Nascetta',
       'Siria', 'Malbec-Syrah', 'Asprinio', 'Feteascǎ Regalǎ',
       'Lambrusco Grasparossa', 'Marselan', 'Tocai Friulano', 'Schiava',
       'Alfrocheiro', 'Chardonnay-Semillon', 'Corvina', 'Norton',
       'Alicante Bouschet', 'Tokaji', 'Moscadello',
       'Cabernet Sauvignon-Tempranillo', 'Carignan', 'Loureiro-Arinto',
       'Cabernet-Syrah', 'Sauvignon Blanc-Chardonnay', 'Symphony',
       'Edelzwicker', 'Madeira Blend', 'Black Muscat', 'Grenache Noir',
       'Durella', 'Xinomavro', 'Tinto del Pais',
       'Merlot-Cabernet Sauvignon', 'Cercial', 'Johannisberg Riesling',
       'Petite Verdot', 'Passerina', 'Valdiguié',
       'Colombard-Sauvignon Blanc', 'Kangoun', 'Loureiro', 'Posip',
       'Uva di Troia', 'Gros and Petit Manseng', 'Jacquère',
       'Kalecik Karasi', 'Karasakiz', 'Mourvèdre-Syrah', 'Negrette',
       'Zierfandler-Rotgipfler', 'Clairette', 'Raboso', 'País', 'Mauzac',
       'Pinot Auxerrois', 'Chenin Blanc-Sauvignon Blanc', 'Diamond',
       'Marzemino', 'Tinta Barroca', 'Chardonnay-Sauvignon Blanc',
       'Castelão', 'Trebbiano Spoletino', 'Teran', 'Trepat', 'Freisa',
       'Neuburger', 'Sämling', 'Chasselas', 'Hárslevelü', 'Trincadeira',
       'Merlot-Tannat', 'Rkatsiteli', 'Melnik', 'Siegerrebe',
       'Trousseau Gris', 'Grenache Blend', 'Gros Manseng',
       'Portuguese Rosé', 'Brachetto', 'Mantonico', 'Ekigaïna',
       'Muskateller', 'Aligoté', 'Sangiovese Cabernet',
       'Touriga Nacional-Cabernet Sauvignon', 'Muscat Blanc', 'Argaman',
       'Viognier-Roussanne', 'Pallagrello Bianco', 'Bobal',
       'Malvasia Istriana', 'Cabernet Sauvignon-Cabernet Franc',
       'Baco Noir', 'Veltliner', 'Tempranillo-Tannat', 'Morillon',
       'Touriga Franca', 'Picolit', 'Barbera-Nebbiolo', 'Prieto Picudo',
       'Gaglioppo', 'Tokay', 'Sacy', 'Piedirosso', 'Piquepoul Blanc',
       'Mansois', 'Chardonnay-Sauvignon', 'Tempranillo-Garnacha',
       'Carmenère-Cabernet Sauvignon', 'Chenin Blanc-Viognier',
       'Susumaniello', 'Vitovska', 'Orange Muscat', 'Grauburgunder',
       'Carignane', 'Moscatel Roxo', 'Tannat-Merlot', 'Nerello Cappuccio',
       'Counoise', 'Macabeo', 'Mazuelo', 'Sauvignon-Sémillon',
       'Tinta del Pais', 'Vranec', 'Mavrud', "Cesanese d'Affile",
       'Moscato Giallo', 'Debit', 'Verdil', 'Cabernet',
       'Verduzzo Friulano ', 'Treixadura', "Loin de l'Oeil",
       'Coda di Volpe', 'Grenache-Mourvèdre', 'Forcallà', 'Viura-Verdejo',
       'Bombino Bianco', 'Pinot-Chardonnay', 'Syrah-Tempranillo',
       'Cabernet Sauvignon-Barbera', 'Merlot-Cabernet',
       "Muscat d'Alexandrie", 'Jaen', 'Tinta del Toro', 'Timorasso',
       'Pigato', 'Sangiovese-Cabernet Sauvignon', 'Shiraz-Cabernet',
       'Viognier-Gewürztraminer', 'Prunelard',
       'Sauvignon Blanc-Chenin Blanc', 'Gros Plant',
       'Malbec-Petit Verdot', 'Colombard-Ugni Blanc', 'Grignolino',
       'Garnacha-Syrah', 'Rufete', 'Tempranillo-Shiraz', 'Mtsvane',
       'Chardonnay-Pinot Gris', 'Marawi', 'Chardonnay-Pinot Blanc',
       'Mataro', 'Tinta Cao', 'Blauer Portugieser', 'Ugni Blanc',
       'Groppello', 'Semillon-Chardonnay', 'Irsai Oliver', 'Alvarelhão',
       'Poulsard', 'Grenache-Shiraz', 'Baga-Touriga Nacional', 'Carineña',
       'Pignoletto', 'Muscatel', 'Mavrodaphne', 'Ciliegiolo',
       'Viognier-Grenache Blanc', 'Greco Bianco',
       'Cabernet Sauvignon-Merlot-Shiraz', 'Sciaccerellu', 'Zelen',
       'Alicante', 'Emir', 'Rosenmuskateller', 'Tsolikouri', 'Narince',
       'Malbec-Cabernet', 'Touriga', 'Grecanico', 'Carmenère-Syrah',
       'Madeleine Angevine', 'Mavroudi', 'Pinot Blanc-Pinot Noir',
       'Muscat Hamburg', 'Tempranillo Blanco', 'Casavecchia',
       'Pinot Gris-Gewürztraminer', 'White Riesling', 'Tinto Velasco',
       'Hondarrabi Zuri', 'Nuragus', 'Xynisteri', 'Kadarka',
       'Sauvignon Musqué', 'Roussanne-Marsanne', 'Incrocio Manzoni',
       'Terrantez', 'Bual', 'Okuzgozu', 'Rivaner', 'Doña Blanca',
       'Graševina', 'Lambrusco Salamino', 'Sangiovese-Syrah',
       'Tannat-Cabernet Franc', 'Thrapsathiri', 'Fer Servadou', 'Mission',
       'Kekfrankos', 'Cococciola', 'Blauburgunder', 'Marquette',
       'Romorantin', 'Verdejo-Sauvignon Blanc', 'Braucol',
       'Malvasia-Viura', 'Savatiano', 'Cabernet Franc-Malbec',
       'Pallagrello Nero', 'Rebula', 'Vespolina', 'Shiraz-Malbec', 'Rebo',
       'Macabeo-Chardonnay', 'Tempranillo-Malbec', 'Tamjanika',
       'Trousseau', 'Bacchus', 'Syrah-Malbec', 'Syrah-Cabernet Franc',
       'Macabeo-Moscatel', 'Cariñena-Garnacha', 'Plyto',
       'Códega do Larinho', 'Sideritis', 'Çalkarası', 'Azal',
       'Moscatel Graúdo', 'Viosinho', 'Moschofilero-Chardonnay',
       'Paralleda', 'Rara Neagra', 'Malvasia di Candia', 'Maria Gomes',
       'Molinara', 'Malvar', 'Airen', 'Erbaluce', 'Muscat of Alexandria',
       'Verdosilla', 'Abouriou', 'Pinot Noir-Syrah', 'Nielluciu',
       'Malbec-Bonarda', 'Vespaiolo', 'Malbec-Carménère', 'Biancolella',
       'Sauvignon Blanc-Verdejo', 'Aidani', 'Garnacha-Monastrell',
       'Vinhão', 'Souzao', 'Roter Traminer', 'Moscatel de Alejandría',
       'Rolle', 'Tinta Francisca', 'Malvasia Nera', 'Orangetraube',
       'Riesling-Chardonnay', 'Žilavka', 'Portuguiser', 'Listán Negro',
       'Pinotage-Merlot', 'Muscadine', 'Maria Gomes-Bical', 'Grolleau',
       'Zlahtina', 'Syrah-Grenache-Viognier', 'Jacquez', 'Gouveio',
       'Canaiolo', 'Carignan-Syrah', 'Bombino Nero',
       'Chardonnay-Riesling', 'Malagouzia-Chardonnay', 'Mavrotragano',
       'Bovale', 'Frankovka', 'Shiraz-Roussanne', 'Cabernet-Shiraz',
       'Syrah-Carignan', 'Elbling', 'Gragnano', 'Garnacha Blend',
       'Pinot Blanc-Chardonnay', 'Schwartzriesling', 'Petit Meslier',
       'Bastardo', 'Vidadillo', 'Misket', 'Chardonnay Weissburgunder',
       'Other', 'Robola', 'Merlot-Shiraz', 'Malagouzia', 'Folle Blanche',
       'Malbec Blend', 'Merlot-Syrah', 'Tamianka', 'Cabernet Pfeffer',
       'Morio Muskat', 'Rabigato', 'Babić', 'Roviello', 'Yapincak',
       'Sauvignonasse', 'Viognier-Marsanne', 'Mandilaria', 'Meseguera',
       'Alvarinho-Chardonnay', 'Saperavi-Merlot', 'Pinot Blanc-Viognier',
       'Teroldego Rotaliano', 'Biancu Gentile', 'Garnacha-Tempranillo',
       'Xinisteri', 'Sauvignon Blanc-Sauvignon Gris',
       'Trebbiano di Lugana', 'Albarossa', 'Ryzlink Rýnský', 'Verdeca',
       'Cabernet Sauvignon Grenache', 'Tămâioasă Românească',
       'Black Monukka', 'Merlot-Grenache', 'Vranac', 'Tempranillo-Syrah',
       'Chardonel', 'Silvaner-Traminer', 'Uvalino',
       'Merseguera-Sauvignon Blanc', 'Cabernet-Malbec', 'Boğazkere',
       'Gelber Traminer', 'Vermentino Nero', 'Cayuga', 'Tinta Amarela',
       'Tinta Negra Mole', 'Moscato Rosa', 'Chelois',
       'Sauvignon Blanc-Assyrtiko', nan, 'Muscadel', 'Shiraz-Tempranillo',
       'Roussanne-Grenache Blanc', 'Biancale', 'Ansonica',
       'Syrah-Bonarda', 'Durif', 'Franconia', 'Malbec-Tempranillo',
       'Nasco', 'Monastrell-Petit Verdot', 'Sirica', 'Vital', 'Espadeiro',
       'Apple', 'Pinot Grigio-Sauvignon Blanc', 'Blatina', 'Karalahna',
       'Feteasca', 'Sercial', 'Valvin Muscat', 'Malvasia Fina',
       'Roditis-Moschofilero', 'St. Vincent', 'Chancellor', 'Premsal',
       'Jampal', 'Tokay Pinot Gris', 'Colorino', 'Picapoll', 'Blauburger',
       'Tinta Madeira', 'Centesimino', 'Grenache Gris', 'Trajadura',
       'Merlot-Petite Verdot', 'Ramisco', 'Catalanesca',
       'Garnacha-Cabernet', 'Garnacha-Cariñena', 'Gamza',
       'Cabernet Franc-Lemberger', 'Chardonnay-Albariño',
       'Shiraz-Mourvèdre', 'Mavrokalavryta', 'Favorita', 'Babosa Negro',
       'Tintilia ', 'Dafni', 'Petit Courbu', 'Kotsifali', 'Parraleta',
       'Moscato di Noto', 'Roscetto', 'Torontel', 'Otskhanuri Sapere',
       'Viognier-Valdiguié', 'Trollinger', 'Tsapournakos', 'Francisa',
       'Kuntra', 'Pignolo', 'Caprettone', 'Ondenc', 'Athiri',
       'Bobal-Cabernet Sauvignon'], dtype=object)

In [251]:
data.groupby('country').agg(Minimum=('price','min'), Median=('price','median'), Maximum=('price','max')).sort_values(by='Maximum',ascending=False)

                        Minimum  Median  Maximum
country
France                      5.0    25.0   3300.0
US                          4.0    30.0   2013.0
Austria                     7.0    25.0   1100.0
Portugal                    5.0    16.0   1000.0
Italy                       5.0    28.0    900.0
Australia                   5.0    21.0    850.0
Germany                     5.0    26.0    775.0
Spain                       4.0    18.0    770.0
Hungary                    10.0    25.0    764.0
Chile                       5.0    15.0    400.0
South Africa                5.0    19.0    330.0
Romania                     4.0     9.0    320.0
Argentina                   4.0    17.0    230.0
Switzerland                21.0    38.0    160.0
Israel                      8.0    25.0    150.0
Uruguay                    10.0    20.0    130.0
New Zealand                 7.0    20.0    130.0
Turkey                     14.0    20.0    120.0
Canada                     12.0    30.0    120.0
Mexico                      8.0    22.0    108.0
Bulgaria                    8.0    13.0    100.0
England                    25.0    50.0     95.0
Slovenia                    7.0    20.0     90.0
Greece                      8.0    19.0     79.0
Lebanon                    13.0    25.0     75.0
Peru                       10.0    14.5     68.0
Croatia                    12.0    20.0     65.0
Brazil                     10.0    20.0     60.0
Czech Republic             15.0    18.0     45.0
Serbia                     15.0    21.0     42.0
Moldova                     8.0    13.0     42.0
Georgia                     9.0    17.5     40.0
Morocco                    14.0    18.0     40.0
Luxembourg                 16.0    23.0     30.0
Cyprus                     11.0    16.0     21.0
India                      10.0    12.0     20.0
Macedonia                  15.0    15.0     20.0
China                      18.0    18.0     18.0
Slovakia                   16.0    16.0     16.0
Armenia                    14.0    14.5     15.0
Bosnia and Herzegovina     12.0    12.5     13.0
Ukraine                     6.0     9.0     13.0
Egypt                       NaN     NaN      NaN

In [252]:
data['Year'] = data['title'].str.extract('([2][0][0-9][0-9])', expand=False).str.strip()
data['Year'] = data['Year'].fillna(0) #cambiar valores nulos a ceros
data['Year'] = data['Year'].astype(int)

In [253]:
data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,Year
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,2013
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,2011
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,2013
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,2013
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,2012

In [254]:
data['Year'].unique()

array([2013, 2011, 2012, 2010, 2007, 2009, 2008, 2014, 2015,    0, 2016,
       2004, 2003, 2006, 2001, 2005, 2002, 2000, 2017])

In [255]:
pip install geopy

Requirement already satisfied: geopy in c:\users\isabe\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\isabe\anaconda3\lib\site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

# Preprocesamiento

In [256]:
#Eliminamos los valores cero y mayores al año 2013
data.drop(data[(data['Year']>= 2013)|(data['Year'] == 0)].index, inplace = True)
data['Year'].unique()

array([2011, 2012, 2010, 2007, 2009, 2008, 2004, 2003, 2006, 2001, 2005,
       2002, 2000])

In [257]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78415 entries, 1 to 129970
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             78415 non-null  int64
 1   country                78408 non-null  object
 2   description            78415 non-null  object
 3   designation            55252 non-null  object
 4   points                 78415 non-null  int64
 5   price                  71865 non-null  float64
 6   province               78408 non-null  object
 7   region_1               66727 non-null  object
 8   region_2               30771 non-null  object
 9   taster_name            54332 non-null  object
 10  taster_twitter_handle  52121 non-null  object
 11  title                  78415 non-null  object
 12  variety                78415 non-null  object
 13  winery                 78415 non-null  object
 14  Year                   78415 non-null  int32
dtypes: float64(1), int32(1), int64(2), object(11)
memory usage: 9.3+ MB

In [258]:
pd.crosstab(data['taster_name'], data['taster_twitter_handle'])

taster_twitter_handle,@AnneInVino,@JoeCz,@bkfiona,@gordone_cellars,@kerinokeefe,@laurbuzz,@mattkettmann,@paulgwine,@suskostrzewa,@vboone,@vossroger,@wawinereport,@wineschach,@winewchristina,@worldwineguys
taster_name,,,,,,,,,,,,,,,
Anne Krebiehl MW,578,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Christina Pickard,0,0,0,0,0,0,0,0,0,0,0,0,0,5,0
Fiona Adams,0,0,5,0,0,0,0,0,0,0,0,0,0,0,0
Jeff Jenssen,0,0,0,0,0,0,0,0,0,0,0,0,0,0,209
Jim Gordon,0,0,0,1069,0,0,0,0,0,0,0,0,0,0,0
Joe Czerwinski,0,3334,0,0,0,0,0,0,0,0,0,0,0,0,0
Kerin O’Keefe,0,0,0,0,6397,0,0,0,0,0,0,0,0,0,0
Lauren Buzzeo,0,0,0,0,0,1214,0,0,0,0,0,0,0,0,0
Matt Kettmann,0,0,0,0,0,0,1913,0,0,0,0,0,0,0,0
Michael Schachner,0,0,0,0,0,0,0,0,0,0,0,0,9993,0,0
Mike DeSimone,0,0,0,0,0,0,0,0,0,0,0,0,0,0,235
Paul Gregutt,0,0,0,0,0,0,0,6488,0,0,0,0,0,0,0
Roger Voss,0,0,0,0,0,0,0,0,0,0,13518,0,0,0,0
Sean P. Sullivan,0,0,0,0,0,0,0,0,0,0,0,1902,0,0,0
Susan Kostrzewa,0,0,0,0,0,0,0,0,919,0,0,0,0,0,0
Virginie Boone,0,0,0,0,0,0,0,0,0,4342,0,0,0,0,0

In [259]:
#Eliminamos taster_twitter_handle porque no es util para nuestros analisis 

data.drop(['taster_twitter_handle'], axis = 1, inplace = True)
data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,title,variety,winery,Year
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,2011
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,2012
5,5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem,2011
7,7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach,2012
9,9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam,2012

In [260]:
data.drop(['designation', 'title'], axis = 1, inplace = True)
data.head()

,Unnamed: 0,country,description,points,price,province,region_1,region_2,taster_name,variety,winery,Year
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",87,15.0,Douro,NaN,NaN,Roger Voss,Portuguese Red,Quinta dos Avidagos,2011
4,4,US,"Much like the regular bottling from 2012, this...",87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,Pinot Noir,Sweet Cheeks,2012
5,5,Spain,Blackberry and raspberry aromas show a typical...,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,Tempranillo-Merlot,Tandem,2011
7,7,France,This dry and restrained wine offers spice in p...,87,24.0,Alsace,Alsace,NaN,Roger Voss,Gewürztraminer,Trimbach,2012
9,9,France,This has great depth of flavor with its fresh ...,87,27.0,Alsace,Alsace,NaN,Roger Voss,Pinot Gris,Jean-Baptiste Adam,2012

In [261]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78415 entries, 1 to 129970
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   78415 non-null  int64
 1   country      78408 non-null  object
 2   description  78415 non-null  object
 3   points       78415 non-null  int64
 4   price        71865 non-null  float64
 5   province     78408 non-null  object
 6   region_1     66727 non-null  object
 7   region_2     30771 non-null  object
 8   taster_name  54332 non-null  object
 9   variety      78415 non-null  object
 10  winery       78415 non-null  object
 11  Year         78415 non-null  int32
dtypes: float64(1), int32(1), int64(2), object(8)
memory usage: 7.5+ MB

In [262]:
data.drop(['Unnamed: 0'], axis = 1, inplace = True)
data.head()

,country,description,points,price,province,region_1,region_2,taster_name,variety,winery,Year
1,Portugal,"This is ripe and fruity, a wine that is smooth...",87,15.0,Douro,NaN,NaN,Roger Voss,Portuguese Red,Quinta dos Avidagos,2011
4,US,"Much like the regular bottling from 2012, this...",87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,Pinot Noir,Sweet Cheeks,2012
5,Spain,Blackberry and raspberry aromas show a typical...,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,Tempranillo-Merlot,Tandem,2011
7,France,This dry and restrained wine offers spice in p...,87,24.0,Alsace,Alsace,NaN,Roger Voss,Gewürztraminer,Trimbach,2012
9,France,This has great depth of flavor with its fresh ...,87,27.0,Alsace,Alsace,NaN,Roger Voss,Pinot Gris,Jean-Baptiste Adam,2012

In [263]:
data['region_2'].unique()

array([nan, 'Willamette Valley', 'Napa', 'Sonoma', 'Central Coast',
       'Central Valley', 'North Coast', 'Finger Lakes',
       'Sierra Foothills', 'Columbia Valley', 'California Other',
       'Long Island', 'Napa-Sonoma', 'Oregon Other', 'Southern Oregon',
       'South Coast', 'Washington Other', 'New York Other'], dtype=object)

In [264]:
data.drop(['region_2'], axis = 1, inplace = True)

In [265]:
import numpy as np

data['region'] = data['region_1'].fillna(data.province)

In [266]:
data.head()

,country,description,points,price,province,region_1,taster_name,variety,winery,Year,region
1,Portugal,"This is ripe and fruity, a wine that is smooth...",87,15.0,Douro,NaN,Roger Voss,Portuguese Red,Quinta dos Avidagos,2011,Douro
4,US,"Much like the regular bottling from 2012, this...",87,65.0,Oregon,Willamette Valley,Paul Gregutt,Pinot Noir,Sweet Cheeks,2012,Willamette Valley
5,Spain,Blackberry and raspberry aromas show a typical...,87,15.0,Northern Spain,Navarra,Michael Schachner,Tempranillo-Merlot,Tandem,2011,Navarra
7,France,This dry and restrained wine offers spice in p...,87,24.0,Alsace,Alsace,Roger Voss,Gewürztraminer,Trimbach,2012,Alsace
9,France,This has great depth of flavor with its fresh ...,87,27.0,Alsace,Alsace,Roger Voss,Pinot Gris,Jean-Baptiste Adam,2012,Alsace

In [267]:
data.drop(['region_1', 'province'], axis = 1, inplace = True)
data.head()

,country,description,points,price,taster_name,variety,winery,Year,region
1,Portugal,"This is ripe and fruity, a wine that is smooth...",87,15.0,Roger Voss,Portuguese Red,Quinta dos Avidagos,2011,Douro
4,US,"Much like the regular bottling from 2012, this...",87,65.0,Paul Gregutt,Pinot Noir,Sweet Cheeks,2012,Willamette Valley
5,Spain,Blackberry and raspberry aromas show a typical...,87,15.0,Michael Schachner,Tempranillo-Merlot,Tandem,2011,Navarra
7,France,This dry and restrained wine offers spice in p...,87,24.0,Roger Voss,Gewürztraminer,Trimbach,2012,Alsace
9,France,This has great depth of flavor with its fresh ...,87,27.0,Roger Voss,Pinot Gris,Jean-Baptiste Adam,2012,Alsace

In [268]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78415 entries, 1 to 129970
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      78408 non-null  object
 1   description  78415 non-null  object
 2   points       78415 non-null  int64
 3   price        71865 non-null  float64
 4   taster_name  54332 non-null  object
 5   variety      78415 non-null  object
 6   winery       78415 non-null  object
 7   Year         78415 non-null  int32
 8   region       78408 non-null  object
dtypes: float64(1), int32(1), int64(1), object(6)
memory usage: 5.7+ MB

In [269]:
np.sum(data.isnull())

country            7
description        0
points             0
price           6550
taster_name    24083
variety            0
winery             0
Year               0
region             7
dtype: int64

In [270]:
data[data.region.isnull()][['region', 'winery', 'country']]

       region                           winery country
4243      NaN  Kakhetia Traditional Winemaking     NaN
36112     NaN                          Orbelus     NaN
49425     NaN                          Orbelus     NaN
49426     NaN                          Orbelus     NaN
79827     NaN                          Orbelus     NaN
100570    NaN                         Tsililis     NaN
129590    NaN                        Büyülübağ     NaN

In [271]:
data.dropna(subset = ['region'], inplace = True)

In [272]:
np.sum(data.isnull())

country            0
description        0
points             0
price           6550
taster_name    24083
variety            0
winery             0
Year               0
region             0
dtype: int64

In [273]:
data.taster_name.fillna('Anonimo', inplace = True)

In [274]:
np.sum(data.isnull())

country           0
description       0
points            0
price          6550
taster_name       0
variety           0
winery            0
Year              0
region            0
dtype: int64

In [275]:
data.dtypes

country         object
description     object
points           int64
price          float64
taster_name     object
variety         object
winery          object
Year             int32
region          object
dtype: object

In [276]:
data.head(20)

,country,description,points,price,taster_name,variety,winery,Year,region
1,Portugal,"This is ripe and fruity, a wine that is smooth...",87,15.0,Roger Voss,Portuguese Red,Quinta dos Avidagos,2011,Douro
4,US,"Much like the regular bottling from 2012, this...",87,65.0,Paul Gregutt,Pinot Noir,Sweet Cheeks,2012,Willamette Valley
5,Spain,Blackberry and raspberry aromas show a typical...,87,15.0,Michael Schachner,Tempranillo-Merlot,Tandem,2011,Navarra
7,France,This dry and restrained wine offers spice in p...,87,24.0,Roger Voss,Gewürztraminer,Trimbach,2012,Alsace
9,France,This has great depth of flavor with its fresh ...,87,27.0,Roger Voss,Pinot Gris,Jean-Baptiste Adam,2012,Alsace
10,US,"Soft, supple plum envelopes an oaky structure ...",87,19.0,Virginie Boone,Cabernet Sauvignon,Kirkland Signature,2011,Napa Valley
11,France,"This is a dry wine, very spicy, with a tight, ...",87,30.0,Roger Voss,Gewürztraminer,Leon Beyer,2012,Alsace
12,US,"Slightly reduced, this wine offers a chalky, t...",87,34.0,Virginie Boone,Cabernet Sauvignon,Louis M. Martini,2012,Alexander Valley
13,Italy,This is dominated by oak and oak-driven aromas...,87,NaN,Kerin O’Keefe,Nerello Mascalese,Masseria Setteporte,2012,Etna
14,US,Building on 150 years and six generations of w...,87,12.0,Matt Kettmann,Chardonnay,Mirassou,2012,Central Coast
16,Argentina,"Baked plum, molasses, balsamic vinegar and che...",87,30.0,Michael Schachner,Malbec,Felix Lavaque,2010,Cafayate
17,Argentina,Raw black-cherry aromas are direct and simple ...,87,13.0,Michael Schachner,Malbec,Gaucho Andino,2011,Mendoza
18,Spain,"Desiccated blackberry, leather, charred wood a...",87,28.0,Michael Schachner,Tempranillo Blend,Pradorey,2010,Ribera del Duero
19,US,"Red fruit aromas pervade on the nose, with cig...",87,32.0,Alexander Peartree,Meritage,Quiévremont,2012,Virginia
20,US,Ripe aromas of dark berries mingle with ample ...,87,23.0,Alexander Peartree,Red Blend,Quiévremont,2012,Virginia
22,Italy,Delicate aromas recall white flower and citrus...,87,19.0,Kerin O’Keefe,White Blend,Baglio di Pianetto,2007,Sicilia
23,US,This wine from the Geneseo district offers aro...,87,22.0,Matt Kettmann,Merlot,Bianchi,2011,Paso Robles
24,Italy,"Aromas of prune, blackcurrant, toast and oak c...",87,35.0,Kerin O’Keefe,Nero d'Avola,Canicattì,2009,Sicilia
25,US,Oak and earth intermingle around robust aromas...,87,69.0,Virginie Boone,Pinot Noir,Castello di Amorosa,2011,Sonoma Coast
28,Italy,"Aromas suggest mature berry, scorched earth, a...",87,17.0,Kerin O’Keefe,Red Blend,Terre di Giurfo,2011,Cerasuolo di Vittoria

In [277]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78408 entries, 1 to 129970
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      78408 non-null  object
 1   description  78408 non-null  object
 2   points       78408 non-null  int64
 3   price        71858 non-null  float64
 4   taster_name  78408 non-null  object
 5   variety      78408 non-null  object
 6   winery       78408 non-null  object
 7   Year         78408 non-null  int32
 8   region       78408 non-null  object
dtypes: float64(1), int32(1), int64(1), object(6)
memory usage: 5.7+ MB

In [278]:
#Para cumplir el proposito de agregar las coordenadas geograficas a traves de geopy 
#se instancia un dataset con los valores únicos

data_region = data['region']


len(data_region.unique())

1477

In [279]:
data_region.head(15)

1                 Douro
4     Willamette Valley
5               Navarra
7                Alsace
9                Alsace
10          Napa Valley
11               Alsace
12     Alexander Valley
13                 Etna
14        Central Coast
16             Cafayate
17              Mendoza
18     Ribera del Duero
19             Virginia
20             Virginia
Name: region, dtype: object

In [280]:
data_region.reset_index()

        index             region
0           1              Douro
1           4  Willamette Valley
2           5            Navarra
3           7             Alsace
4           9             Alsace
...       ...                ...
78403  129962            Sicilia
78404  129963            Galilee
78405  129967             Oregon
78406  129969             Alsace
78407  129970             Alsace

[78408 rows x 2 columns]

In [281]:
data_region_unique_values = pd.DataFrame(data_region.unique(),columns=['region'])
data_region_unique_values

                      region
0                      Douro
1          Willamette Valley
2                    Navarra
3                     Alsace
4                Napa Valley
...                      ...
1472  Alta Valle della Greve
1473               Neuchâtel
1474              Del Veneto
1475     Roussette de Savoie
1476                 Paestum

[1477 rows x 1 columns]

In [282]:
#Este sitio no es una región, es un viñedo
data_region_unique_values.loc[737]

region    La Grande Rue
Name: 737, dtype: object

In [283]:
data_region_unique_values.drop(data_region_unique_values.index[737], inplace = True)

In [284]:
data_region_unique_values.loc[735:740]

                 region
735  Saddle Rock-Malibu
736           Echézeaux
738    Clos de la Roche
739  Savigny-lès-Beaune
740             Vougeot

In [285]:
#Vamos a agregar las coordenadas geográficas en este paso
from geopy import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [286]:
geolocator = Nominatim(user_agent="geoapiExercises")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1.5)

In [287]:
ladd1 = "Willamette Valley"
print("Location address:",ladd1)
location = geolocator.geocode(ladd1)
print("Latitude and Longitude of the said address:")
print((location.latitude, location.longitude))

ladd2 = "Douro"
print("Location address:",ladd2)
location = geolocator.geocode(ladd2)
print("Latitude and Longitude of the said address:")
print((location.latitude, location.longitude))

Location address: Willamette Valley
Latitude and Longitude of the said address:
(45.3444247, -122.6583007)
Location address: Douro
Latitude and Longitude of the said address:
(41.453397, -5.1252011)

In [288]:
def eval_results(x):
    try:
        return (x.latitude, x.longitude)
    except:
        return (None, None)

data_temporal =data_region_unique_values
data_temporal['region_coord'] = data_temporal['region'].apply(geolocator.geocode).apply(lambda x: eval_results(x))
data_temporal

                      region                       region_coord
0                      Douro            (41.453397, -5.1252011)
1          Willamette Valley         (45.3444247, -122.6583007)
2                    Navarra  (42.61254875, -1.830787673361753)
3                     Alsace     (48.24917645, 7.4074699518555)
4                Napa Valley  (22.41124455, 113.98039316440286)
...                      ...                                ...
1472  Alta Valle della Greve                       (None, None)
1473               Neuchâtel            (46.9895828, 6.9292641)
1474              Del Veneto           (45.6476663, 11.8665254)
1475     Roussette de Savoie    (50.6416067, 5.568338659152802)
1476                 Paestum           (40.4238379, 15.0069514)

[1476 rows x 2 columns]

In [305]:
###PARA GUARDAR CSV cuando procesemos todo geopy

data_temporal.to_csv('data_temporal_locations.csv', index = True)

In [306]:
data_temporal_set = pd.read_csv('data_temporal_locations.csv')
data_temporal_set.head()

   Unnamed: 0             region                       region_coord
0           0              Douro            (41.453397, -5.1252011)
1           1  Willamette Valley         (45.3444247, -122.6583007)
2           2            Navarra  (42.61254875, -1.830787673361753)
3           3             Alsace     (48.24917645, 7.4074699518555)
4           4        Napa Valley  (22.41124455, 113.98039316440286)

In [307]:
data_temporal_set.drop(columns = 'Unnamed: 0', inplace = True)

data_temporal_set.head()

              region                       region_coord
0              Douro            (41.453397, -5.1252011)
1  Willamette Valley         (45.3444247, -122.6583007)
2            Navarra  (42.61254875, -1.830787673361753)
3             Alsace     (48.24917645, 7.4074699518555)
4        Napa Valley  (22.41124455, 113.98039316440286)

In [308]:
#Ahora hay que unir los datos de este set con merge

#data_temporal_set + data

data_location_union = pd.merge(data, data_temporal_set)
data_location_union.head()

,country,description,points,price,taster_name,variety,winery,Year,region,region_coord
0,Portugal,"This is ripe and fruity, a wine that is smooth...",87,15.0,Roger Voss,Portuguese Red,Quinta dos Avidagos,2011,Douro,"(41.453397, -5.1252011)"
1,Portugal,Verdelho and Sauvignon Blanc hangs together ea...,87,15.0,Roger Voss,Portuguese White,Quinta do Portal,2012,Douro,"(41.453397, -5.1252011)"
2,Portugal,"This mature wine has a soft, smooth character ...",90,32.0,Roger Voss,Portuguese Red,Quinta do Sagrado,2008,Douro,"(41.453397, -5.1252011)"
3,Portugal,"A ripe and structured wine, this has bold blac...",90,12.0,Roger Voss,Portuguese Red,Sobredos,2012,Douro,"(41.453397, -5.1252011)"
4,Portugal,"Sousão gives intense color and that, along wit...",90,40.0,Roger Voss,Sousão,Quinta do Vallado,2009,Douro,"(41.453397, -5.1252011)"

In [309]:
data_location_union.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78406 entries, 0 to 78405
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       78406 non-null  object
 1   description   78406 non-null  object
 2   points        78406 non-null  int64
 3   price         71858 non-null  float64
 4   taster_name   78406 non-null  object
 5   variety       78406 non-null  object
 6   winery        78406 non-null  object
 7   Year          78406 non-null  int32
 8   region        78406 non-null  object
 9   region_coord  78406 non-null  object
dtypes: float64(1), int32(1), int64(1), object(7)
memory usage: 6.3+ MB

In [310]:
###PARA GUARDAR CSV

data_location_union.to_csv('data_location_union.csv', index = True)w